@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-background: #F1F4F6;
  --color-background-soft: #E7E9F1;

  --color-border: #E7E7E7;

  --color-text: #1D1D1D;

  --color-primary: #242424;

  --color-white: #FFFFFF;

}
